---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
IMPORTANT TERMS AND DEFINITIONS RELATING TO WATER LAW 
ABANDONMENT: The intentional relinquishment of a water right. “A right to use underground water … may be lost by abandonment.” NRS 534,090(4) The party asserting abandonment bears the burden of proving, by clear and convincing evidence, that an owner of the water right intended to abandon it and took actions consistent with that intent. Nevada law does not presume abandonment of a water right from nonuse alone. In abandonment the intent of the water user is controlling. To substitute and enlarge upon that by saying that the water user shall lose the water by failure to use it for a period of five years, irrespective of the intent, certainly takes away much of the stability and security of the right to the continued use of such water. It is necessary to establish the owner’s intention to abandon and relinquish such right before an abandonment can be found. King v. St. Clair, 134 Nev. 137 (2018).
ACRE FOOT: Measurement of the volume of water used in Nevada equal 43,560 cubic feet of water or one acre of land covered by water on foot in depth. 325,851 gallons of water. NRS 533.065.
BENEFICIAL USE: Beneficial use shall be the basis, the measure and the limit of the right to the use of water. NRS 533.035.
CANCELLATION: The administrative process of taking a water right without compensation for failure to place the water to beneficial use under the terms of a permit. Set forth in NRS 533.095.
CERTIFICATE: Establishes the final parameters of the water right issued through the permitting process of the State Engineer after beneficial use is established, includes use allowed, location, point of diversion, rate of diversion and amount of water.
CUBIC FOOT PER SECOND (CFS): Rate of flow in Nevada equal to 448.83 gallons of water per minute totaling 723.94 acre feet per year. NRS 533.065.
DUTY: The amount acre feet of water allowed per acre of water righted land.
EVAPOTRANSPIRATION: The process by which plants take in water through the roots and then give it off through the leaves as a byproduct of respiration. EXTENSION OF TIME: Administrative process allowing the State Engineer to extend the deadlines on an existing permit for the filing of Proofs of Completion of Work or Beneficial Use. NRS 533.380.
FORFEITURE: The involuntary loss of a water right without compensation as a consequence of non-use. USE IT OR LOSE IT! Procedures for forfeiture established in NRS 534.090.
PERENNIAL YIELD: The amount of usable water in a groundwater reservoir that can be withdrawn and consumed economically each year for an indefinite period of time without depleting the reservoir.
PERMIT: Grants a applicant for the appropriation of water the right to initiate work to place the water to beneficial use. Specifies the amount of time allowed to place the water into beneficial use.
PLACE OF USE: The specific geographic location where the water can be used as delineated on the permit to appropriate.
POINT OF DIVERSION: The place form which the water is diverted from its source.
PRIMARY WATER RIGHT: A water right that entitles the user to use the water directly from a source for the full allocation of the right established.
PRIORITY DATE: On a vested right, this is the date the water was put to actual beneficial use. On a permitted right, the date of the application to appropriate water establishes the priority date.
PROOF OF COMPLETION OF WORK: Document filed with the state engineer showing that the point of diversion/well construction is completed and providing other information required by the permit including well flow measurements, etc.
PROOF OF BENEFICIAL USE: Document filed with the State Engineer showing the actual amount of water being used for beneficial purposes as designated in the Permit.
REASONABLE DILIGENCE: The measure of reasonable diligence is the steady application of effort to perfect the appropriation in a reasonably expedient and efficient manner under all the facts and circumstances. When a project or integrated system is comprised of several features, work on one feature of the project or system may be considered in finding that reasonable diligence has been shown in the development of water rights for all features of the entire project or system.
SUPPLEMENTAL WATER RIGHT: A water right that allows for the appropriation of water to make up a deficiency in supply from an existing water right. Usually, this relates to ground water used to “supplement” an existing surface water right when there is not enough surface water to fill the full allocation of water.
SYSTEM YIELD: The amount of usable water from both the groundwater reservoir and stream sources that flow through a hydrographic basin.
USUFRUCTUARY RIGHT: The right of an individual to use water for beneficial use, but they do not ‘own’ the water; the water belongs to the people of the state of Nevada (Public).
  
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
